h1{
    color: rgb(239, 21, 21);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}

p{
    color: rgb(172, 100, 238);
    background-color: black;
}

ul{
    color: green;
    font-weight: 700;
    font: 1em sans-serif;
    font-size: large;
    
} 

ol{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
}